*.identcache
*.stat
*.local
/ComponentsSource/__history
/Demo/ScrollYearsDemo.dproj.local
/Demo/__history
/Demo/Win32/Debug
/ComponentsSource/FMXComponents.dproj.local
/FMXComponentsGroup.groupproj.local
/FMXComponentsGroup_prjgroup.tvsconfig
/ComponentsSource/Win32/Debug
/Demo/ScrollYearsDemo.stat
/Demo/FMXComponentsDemo.dproj.local
/ComponentsSource/FMXComponents.stat
/Demo/FMXComponentsDemoMain.vlb
/Demo/Android/Debug
/Demo/FMXComponentsDemo.deployproj
/Demo/FMXComponentsDemo.stat
/Demo/Win32/Release
/ComponentsSource/FMXComponentEd.res
/Demo/LoadingIndicatorDemo.res
/Demo/OSX32/Debug
/Demo/FMXGR32DemoProj.res
/ComponentsSource/Android/Debug
/Demo/TestINativeCanvas/Android/Debug
/Demo/TestINativeCanvas/__history
/Demo/TestINativeCanvas/Win32/Debug
/Demo/TestINativeCanvas/TestINativeCanvas.res
/Demo/TestCallout/TestFMXCallout.stat
/Demo/TestCallout/TestFMXCallout.identcache
/Demo/RotatingTextDemo/OSX32/Debug
/Demo/RotatingTextDemo/iOSSimulator/Debug
/Demo/TestCallout/OSX32/Debug
/Demo/TestINativeCanvas/OSX32/Debug
/Demo/TestINativeCanvas/iOSSimulator/Debug
/Demo/TestBezierAnimation/__history
/Demo/TestBezierAnimation/Win32/Debug
/Demo/TestBezierAnimation/Android/Debug
/Demo/TestINativeCanvas/iOSDevice64/Debug
/Demo/PhotoCorrect/Win32/Debug
/Demo/PhotoCorrect/__history
/Demo/PhotoCorrect/PhotoCorrect.res
/Demo/TestBezierAnimation/TestBezierAnimation.res
/__history
/Demo/__recovery
