/ComponentsSource/__history
/Demo/ScrollYearsDemo.dproj.local
/Demo/ScrollYearsDemo.identcache
/Demo/__history
/Demo/Win32/Debug
/ComponentsSource/FMXComponents.dproj.local
/ComponentsSource/FMXComponents.identcache
/FMXComponentsGroup.groupproj.local
/FMXComponentsGroup_prjgroup.tvsconfig
/ComponentsSource/Win32/Debug
/Demo/ScrollYearsDemo.stat
/Demo/FMXComponentsDemo.dproj.local
/ComponentsSource/FMXComponents.stat
/Demo/FMXComponentsDemoMain.vlb
/Demo/Android/Debug
/Demo/FMXComponentsDemo.deployproj
/Demo/FMXComponentsDemo.identcache
/Demo/FMXComponentsDemo.stat
/Demo/Win32/Release
/ComponentsSource/FMXComponentEd.dproj.local
/ComponentsSource/FMXComponentEd.identcache
/ComponentsSource/*.stat
/ComponentsSource/FMXComponentEd.res
/Demo/LoadingIndicatorDemo.dproj.local
/Demo/LoadingIndicatorDemo.res
/Demo/LoadingIndicatorDemo.identcache
/Demo/LoadingIndicatorDemo.stat
/Demo/OSX32/Debug
/Demo/FMXGR32DemoProj.res
/ComponentsSource/Android/Debug
/Demo/TestINativeCanvas/Android/Debug
/Demo/TestINativeCanvas/__history
/Demo/TestINativeCanvas/Win32/Debug
/Demo/TestINativeCanvas/TestINativeCanvas.dproj.local
/Demo/TestINativeCanvas/TestINativeCanvas.res
/Demo/TestCallout/TestFMXCallout.stat
/Demo/TestINativeCanvas/TestDrawBitmap.stat
/Demo/TestCallout/TestFMXCallout.identcache
/Demo/TestINativeCanvas/TestINativeCanvas.identcache
/Demo/TestINativeCanvas/TestINativeCanvas.stat
/Demo/RotatingTextDemo/OSX32/Debug
/Demo/RotatingTextDemo/iOSSimulator/Debug
/Demo/TestCallout/OSX32/Debug
/Demo/TestINativeCanvas/OSX32/Debug
/Demo/TestINativeCanvas/iOSSimulator/Debug
