/ComponentsSource/__history
/Demo/ScrollYearsDemo.dproj.local
/Demo/ScrollYearsDemo.identcache
/Demo/__history
/Demo/Win32/Debug
/ComponentsSource/FMXComponents.dproj.local
/ComponentsSource/FMXComponents.identcache
/FMXComponentsGroup.groupproj.local
/FMXComponentsGroup_prjgroup.tvsconfig
/ComponentsSource/Win32/Debug
/Demo/ScrollYearsDemo.stat
/Demo/FMXComponentsDemo.dproj.local
/ComponentsSource/FMXComponents.stat
/Demo/FMXComponentsDemoMain.vlb
